body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-image: url('p.png');
    background-size: cover;
    height: 200px; 
    text-align: center;
    color: white; 
    padding: 50px; 
}

section {
    margin: 20px;
}

h1{
    position: absolute;
    top: 2px;
    left: 100px;
    color: #f2f2f2;
    padding: 48px;
    margin: 15px;
}
h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    border-radius: 8px;
}

footer {
   background-color: #03016b;
   color: white;
   text-align: center;
   padding: 5px;
   bottom: 0;
   width: 100%;
}

button {
   display: flex;
   justify-content: center;
   border: 1px solid #ccc;
   border-radius: 10px;
   padding: 15px;
   margin: 15px;
   background-color: #fff;
   box-shadow: 2 4px 8px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s;
}

button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

header{
    display: flex;
    justify-content: flex-start;
    font-size: 75px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animado {
    animation: fadeIn 2s linear infinite;
    
  }

  a{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }